<%# title %>
<h1 class= 'pt-2' style='text-align:center'>Any dog that tickles your fancy?</h1>
<hr style="width:75%; height:4px">

<%# Card grid %>
<div class='d-flex justify-content-center my-4'>
  <div class='card-grid'>
    <% @dogs.each do |dog| %>
      <%= link_to dog_path(dog) do %>
        <div class='grid-item'>
          <%= render 'shared/dog_card', dog: dog %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
